html {
  height: 100%;

  font-family: "Myriad Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  margin: 0;
}

.page {
  height: 100%;
}

#first-page {
  background-color: #ffffff;
}

#second-page {
  background-color: #ffffff;/*#eeeeee*/
}

#third-page {
  background-color: #ffffff;/*#828282*/
}

#first-page .page-contents {
  padding-top: 46px;
}

.page-contents {
  position: relative;
  top: 10%;
  left: 5%;
  width: 90%;
  opacity: .9;
  text-align: justify;
  text-justify: inter-word;
  height: 80%;
}

.page-contents p {
  text-align: center;
  margin: 0;
}

#header-div {
  height: 46px;
  width: 100%;
  background: #444444;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  position: absolute;
}

header {
  opacity: 1;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #ffffff;
  font-size: 22px;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#footer-div {
  height: 46px;
  background-color: #313131;
}

#first-page-down {
  top: 92.5%;
}

#second-page-up {
  top: 102.5%;
}

#second-page-down {
  top: 192.5%;
}

#third-page-up {
  top: 202.5%;
}

#third-page-down {
  top: 292.5%;
}

.arrow-button {
  height: 35px;
  width: 35px;
  position: absolute;
  left: 50%;
  margin-left: -17.5px;
}

.no-select {
  /* Disallow Highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.arrow-button img {
  height: 100%;
  opacity: .9;
}

footer {
  position: relative;
  top: 23px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

#copyright {
  left: 12.5px;
  float: left;
}

#footer-links {
  float: right;
  right: 12.5px;
}

#footer-links a {
  color: #ffffff;
}

.contact-icon{
  height: 20px;
  padding-left: 10px;
  text-align: center;
  font-size: 20px !important;
}

.light-text {
  color: #666666;
  font-size: 27px;
  line-height: 1.5185;
  font-weight: 200;
}

.medium-text {
  color: #333333;
  font-style: normal;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
}

.heavy-text {
  color: #333333;
  font-size: 52px;
  line-height: 1.0769;
  font-weight: 200;
  font-style: normal;
}

.left-center-text {
  text-align: left !important;
  padding-left: 12.5%;
}

.left-text {
  text-align: left !important;
}

.page-divider {
  height: 1px;
  width: 60%;
  background-color: #d0d0d0;
  margin-left: auto;
  margin-right: auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.medium-width {
  width: 75%;
  left: 12.5%;
}

#footer-github {
  position: relative;
  top: 1.5px;
}

#header-links {
  text-align: justify;
  list-style: none;
  -webkit-padding-start: 0;
}

#header-links:before {
  content:"";
  margin-left:100%;
}

#header-links:after {
  content:"";
  margin-left:100%;
}

#header-links li{
  display: inline;
  margin: 10px;
}

#name-heading {
  float: left;
}

#links-heading {
  float: right;
}

#header-links a {
  text-decoration: none;
  color: #ffffff;
}

#links-heading li a {
  border-bottom: 1px solid transparent;
  -webkit-transition: border .25s ease-out;
  -moz-transition: border .25s ease-out;
  -o-transition: border .25s ease-out;
  transition: border .25s ease-out;
}

.active-link {
  border-color: white !important;
}

#links-heading li a:hover {
  border-color: white !important;
}

.fluid-page {
  height: auto;
  min-height: calc(100% - 46px);
}

#fluid-contents {
  top: 70.188px;
}

#background-saver {
  height: 116.188px;
  background-color: #ffffff;
}
